$color-primary: rgba(68, 97, 157, 1.0);
$color-secondary: rgba(255, 255, 255, 1.0);

$s-mobile: "(min-width: 768px)";
$s-tablet: "(min-width: 992px)";
$s-laptop: "(min-width: 1200px)";
$s-desktop: "(min-width: 1700px)";
$only-mobile: "(max-width: 767px)";
