<div class="module">
    <h1>Campaigns <span ng-if="vm.campaigns.length > 0">{{vm.campaigns.length}} total</span></h1>
    <hr />
    <div ng-if="vm.error">
        {{vm.error}}
    </div>
    <table class="listing" ng-if="!vm.error && vm.campaigns.length > 0">
        <thead>
            <tr>
                <th>{{vm.dictionary.terms['name']}}</th>
                <th>{{vm.dictionary.terms['id']}}</th>
                <th>{{vm.dictionary.terms['adlabels']}}</th>
                <th>{{vm.dictionary.terms['account_id']}}</th>
                <th>{{vm.dictionary.terms['buying_type']}}</th>
                <th>{{vm.dictionary.terms['can_use_spend_cap']}}</th>
                <th>{{vm.dictionary.terms['configured_status']}}</th>
                <th>{{vm.dictionary.terms['created_time']}}</th>
                <th>{{vm.dictionary.terms['effective_status']}}</th>
                <th>{{vm.dictionary.terms['objective']}}</th>
                <th>{{vm.dictionary.terms['start_time']}}</th>
                <th>{{vm.dictionary.terms['stop_time']}}</th>
                <th>{{vm.dictionary.terms['updated_time']}}</th>
                <th>{{vm.dictionary.terms['spend_cap']}}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="14"></td>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="c in vm.campaigns">
                <td>{{c.name}}</td>
                <td>{{c.id}}</td>
                <td>{{c.adlabels}}</td>
                <td>{{c.account_id}}</td>
                <td>{{c.buying_type}}</td>
                <td>{{c.can_use_spend_cap}}</td>
                <td>{{c.configured_status}}</td>
                <td>{{c.created_time | date:'short'}}</td>
                <td>{{c.effective_status}}</td>
                <td>{{c.objective}}</td>
                <td>{{c.start_time | date:'short'}}</td>
                <td>{{c.stop_time | date:'short'}}</td>
                <td>{{c.updated_time | date:'short'}}</td>
                <td>{{c.spend_cap}}</td>
            </tr>
        </tbody>
    </table>
</div>