<div class="module">
    <h1>Campaigns <span ng-if="vm.campaigns.length > 0">{{vm.campaigns.length}} total</span></h1>
    <hr />
    <div ng-if="vm.error">
        {{vm.error}}
    </div>
    <table class="listing" ng-if="!vm.error && vm.campaigns.length > 0">
        <thead>
            <tr>
                <th>name</th>
                <th>id</th>
                <th>adlabels</th>
                <th>account_id</th>
                <th>buying_type</th>
                <th>can_use_spend_cap</th>
                <th>configured_status</th>
                <th>created_time</th>
                <th>effective_status</th>
                <th>objective</th>
                <th>start_time</th>
                <th>stop_time</th>
                <th>updated_time</th>
                <th>spend_cap</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>

                </td>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="c in vm.campaigns">
                <td>{{c.name}}</td>
                <td>{{c.id}}</td>
                <td>{{c.adlabels}}</td>
                <td>{{c.account_id}}</td>
                <td>{{c.buying_type}}</td>
                <td>{{c.can_use_spend_cap}}</td>
                <td>{{c.configured_status}}</td>
                <td>{{c.created_time}}</td>
                <td>{{c.effective_status}}</td>
                <td>{{c.objective}}</td>
                <td>{{c.start_time}}</td>
                <td>{{c.stop_time}}</td>
                <td>{{c.updated_time}}</td>
                <td>{{c.spend_cap}}</td>
            </tr>
        </tbody>
    </table>
</div>