.btn {
  background: $color-primary;
  color: $color-secondary;
  opacity: 0.9;
  padding:9px 15px;
  cursor: pointer;
  border-radius: 5px;

  &.btn-default {
    background: #797979;
  }

  &:hover {
    opacity: 1.0;
  }
}