.btn {
  background: $color-primary;
  color: $color-secondary;
  opacity: 0.9;
  padding:9px 15px;
  cursor: pointer;
  border-radius: 5px;

  &.btn-default {
    border: 1px solid #797979;
    background: #fff;
    color: inherit;

    &:hover {
      background: #e8e8e8;
    }
  }

  &:hover {
    opacity: 1.0;
  }
}