[drop-menu] {
  &.customize-columns {
    position:relative;
    margin:0 15px;

    .menu {
      width: 500px;

      li {
        float:left;
        width: 50%;
        cursor: pointer;
      }
    }
  }

  &.date-intervals {
    position: relative;

    .menu {
      width: 500px;

      li {
        float:left;
        width: 33.33%;
        padding: 5px 10px 5px 5px;
        cursor: pointer;
      }
    }
  }

  .menu {
    z-index: 100;
    display:none;
    position: absolute;
    top: 37px;
    right: -10px;
    width:300px;
    color: #141823;
    background: $color-secondary;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    font-size: 12px;

    h2 {
      font-size: 14px;
      font-weight: normal;
      color: $color-primary;
      background: #F5F5F5;
      padding: 7px 10px;
      margin: 0;
    }

    ul {
      margin:0;
      padding:0;

      li {
        padding: 0 10px;

        &:hover {
          background: $color-primary;
          color: $color-secondary;
        }
      }
    }

    .fa-caret-up {
      position: absolute;
      top: -17px;
      right: 12px;
      font-size: 24px;
      color:$color-secondary;
    }
  }

  &.open .menu {
    display: block;
  }
}