table {
  border-top: $border-normal;
  border-left: $border-normal;

  &.listing {
    min-width:100%;
    background:#fff;

    thead {
      tr {
        th {
          padding:5px;
          background: #f5f5f5;
          font-weight:700;
          border-right: $border-normal;
          border-bottom: $border-normal;
          white-space: nowrap;
        }
      }
    }

    tbody {
      tr {
        td {
          font-size:12px;
          border-right: $border-normal;
          border-bottom: $border-normal;
          padding:5px;
          max-width: 300px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &:nth-child(even) {
          background: #FBFBFB;
        }

        &:hover {
          background: rgba(68, 97, 157, 0.04);
        }
      }
    }

    tfoot {
      tr {
        td {
          padding:5px;
          background: #f5f5f5;
          font-weight:700;
          text-align:left;
          border-right: $border-normal;
          border-bottom: $border-normal;
        }
      }
    }

    &.highlight {
      border-top: $border-highlight;
      border-left: $border-highlight;

      thead {
        tr {
          th {
            color: $color-secondary;
            background: $color-primary;
            border-right: $border-highlight;
            border-bottom: $border-highlight;
          }
        }
      }

      tfoot {
        tr {
          td {
            background: $color-primary;
            border-right: $border-highlight;
            border-bottom: $border-highlight;
          }
        }
      }
    }
  }
}