.campaign-create {

  &.margin {
    margin-top: 15px;
  }

  .objectives {
    position:relative;
    float:left;
    width:100%;

    ul.list {
      position: relative;
      float:left;
      width:300px;
      z-index: 2;

      li {
        padding: 10px;
        font-size: 18px;
        border: 1px solid #E0E0E0;
        border-bottom: none;
        line-height: 1.5em;
        cursor:pointer;

        &:last-child {
          border-bottom: 1px solid #E0E0E0;
        }

        &:hover {
          background: #f6f6f6;
        }

        &.active {
          background: $color-primary;
          color: $color-secondary;
        }

        i {
          float: left;
          width: 35px;
          padding: 4px 0 0 0;
          text-align: center;
        }
      }
    }

    .objective-box {
      position: absolute;
      left: 50%;
      top: 0;
      margin: 0 0 0 -13%;
      width: 500px;
      padding: 25px;
      text-align: center;

      h3 {
        font-size:26px;
        color:$color-primary;
        margin: 0 0 15px 0;
        line-height:1em;
      }

      i {
        color: $color-primary;
        font-size:100px;
        width:100%;
        margin: 0 0 5px 0;
      }
    }
  }

  .create-audience {
    float:left;
    width:100%;
    padding: 15px;
    border:$border-normal;
  }

  .stats-box {
    float:right;
    width: 300px;
    height:300px;
    border:1px solid black;
  }

  .add-box {
    float:left;
    width:25%;
    padding:15px;
    height:300px;
    border:1px solid #E0E0E0;
  }

  .locations {
    select {
      width: auto;
      margin: 0 15px 0 0;
    }
    .search {
      float:left;
      width:30%;
    }
  }

  .col-left {
    float:left;
    width:70%;
  }

  .col-right {
    float:left;
    padding:15px;
    width:30%;
    text-align: center;
    font-size:24px;
    font-weight:700;
  }
}