.dashboard {
  .account {
    position:relative;
    float:left;
    width:49.5%;
    border:1px solid #E0E0E0;
    background: #fff;
    margin: 1% 0 0 0;
    cursor:pointer;

    &.margin {
      margin-right:1%
    }

    &.active {
      border: 1px solid $color-primary;

      .content {
        h3 {
          background: $color-primary;
          color: $color-secondary;

          em {
            color: $color-secondary;
          }
        }
      }
    }

    .content {

      h3 {
        position: relative;
        float:left;
        width:100%;
        background:#fbfbfb;
        padding:6px 5px 3px 10px;
        border-bottom:1px solid #cfcfcf;
        font-size:18px;
        line-height:1em;

        em {
          float: right;
          color: #000;
          padding: 3px 0 0;
          font-style: normal;
          font-size: 10px;
          opacity: .5;
        }
      }

      .spent, .reach, .impressions {
        float:left;
        width:33%;
        text-align:center;
        margin: 0;
        padding:10px 0;

        .num {
          float:left;
          width:100%;
          font-size:18px;
          padding:10px 0 3px 0;
        }
      }
    }

    .hide-loading-content {
      position: absolute;
      height: 100%;
      width: 100%;
      padding:20px;
      top: 0;
      left: 0;
      background: rgba(244, 244, 244, 0.95);

      .error {
        font-size:10px;
        color:red;
      }

      .loading {
        float: left;
        width: 100%;
        padding:40px 0 0 0;
        text-align: center;
      }

      /* Animations */
      &.ng-enter {
        transition:0.25s linear all;
        opacity:0;

        &.ng-enter-active {
          opacity:1;
        }
      }

      &.ng-leave {
        transition:0.25s linear all;
        opacity:1;

        &.ng-leave-active {
          opacity:0;
        }
      }
    }
  }
}