.dashboard {
  .account {
    position:relative;
    float:left;
    width:49%;
    height:100px;
    margin:0 1% 1% 0;
    border:1px solid #A0A0A0;
    background: #fff;

    &.active {
      border: 1px solid $color-primary;
      box-shadow: 0 0 5px $color-primary;
    }

    .content {

      h3 {
        position: relative;
        float:left;
        width:100%;
        background:#FBFBFB;
        padding:5px;
        border-bottom:1px solid #cfcfcf;
        font-size:18px;

        em {
          float: right;
          color: #b4bcc2;
          padding: 6px 0 0;
          font-style: normal;
          font-size: 11px;
        }
      }

      .spent, .reach, .impressions {
        float:left;
        width:33%;
        text-align:center;
        margin: 0;
        padding:10px 0 0 0;

        .num {
          float:left;
          width:100%;
          font-size:18px;
        }
      }
    }

    .hide-loading-content {
      position: absolute;
      height: 100%;
      width: 100%;
      padding:20px;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.9);

      .error {
        font-size:10px;
        color:red;
      }

      /* Animations */
      &.ng-enter {
        transition:0.25s linear all;
        opacity:0;

        &.ng-enter-active {
          opacity:1;
        }
      }

      &.ng-leave {
        transition:0.25s linear all;
        opacity:1;

        &.ng-leave-active {
          opacity:0;
        }
      }
    }
  }
}