<div>
    <div class="row">
        <label>Locations</label>
        <div class="col half" ng-if="vm.hasData(vm.audience.targeting.geo_locations)">
            <div class="row">
                <select ng-model="vm.audience.targeting.geo_locations.location_types">
                    <option value="">Include everyone in these locations...</option>
                    <option value="home">Include people who live in these locations...</option>
                    <option value="recent">Include people recently in these locations...</option>
                    <option value="travel_in">Include people traveling in these locations...</option>
                </select>
            </div>
            <span ng-repeat="(k, v) in vm.audience.targeting.geo_locations" ng-if="k !== 'location_types'">
                <span ng-repeat="l in vm.audience.targeting.geo_locations[k]" class="added-item">{{k}}: {{l.key}} <i class="fa fa-times" ng-click="vm.removeLocation(l, 'geo_locations', k)"></i></span>
            </span>
        </div>
        <div class="col half" ng-if="vm.hasData(vm.audience.targeting.excluded_geo_locations)">
            <div class="row">
                <select ng-model="vm.audience.targeting.excluded_geo_locations.location_types">
                    <option value="">Exclude everyone in these locations...</option>
                    <option value="home">Exclude people who live in these locations...</option>
                </select>
            </div>
            <span ng-repeat="(k, v) in vm.audience.targeting.excluded_geo_locations" ng-if="k !== 'location_types'">
                <span ng-repeat="l in vm.audience.targeting.excluded_geo_locations[k]" class="added-item">{{k}}: {{l.key}} <i class="fa fa-times" ng-click="vm.removeLocation(l, 'excluded_geo_locations', k)"></i></span>
            </span>
        </div>
    </div>
    <div class="row locations">
        <select ng-model="vm.locations.type">
            <option value="geo_locations">Include</option>
            <option value="excluded_geo_locations">Exclude</option>
        </select>
        <div class="search" combo-box="vm.locations.all" bind="vm.locations.selected" placeholder="Add a country, state/province, city, ZIP, DMA or address" autocomplete="vm.autocompleteLocation" type="locations"></div>
    </div>
    <div class="row">
        <label>Age</label>
        <select class="width-auto" ng-model="vm.audience.targeting.age_min" ng-options="a.id as a.name for a in vm.ages"></select>
        <span class="pull-left pad-5"> to </span>
        <select class="width-auto" ng-model="vm.audience.targeting.age_max" ng-options="a.id as a.name for a in vm.ages"></select>
    </div>
    <div class="row">
        <label>Gender</label>
        <select class="width-auto" ng-model="vm.audience.targeting.genders">
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="">Both</option>
        </select>
    </div>
    <div class="row">
        <label>Language</label>
        <span ng-repeat="l in vm.audience.targeting.locales" class="added-item">{{l}}<i class="fa fa-times" ng-click="vm.removeLocale(l)"></i></span>
        <div combo-box="vm.locales.all" bind="vm.locales.selected" placeholder="Select a language/locale"></div>
    </div>
    <div class="row">
        <label>More demographics</label>
    </div>
    <div class="row">
        <label>Interests</label>
    </div>
    <div class="row">
        <label>Behaviors</label>
    </div>
    <div class="row">
        <label>More categories</label>
    </div>
    <div class="row">
        <label>Connections</label>
    </div>
    <div class="row">
        <label>Locations</label>
    </div>
</div>