<div class="module">
    <h1>Ad Sets <span ng-if="vm.adSets.length > 0">{{vm.adSets.length}} total</span></h1>
    <hr />
    <div ng-if="vm.error">
        {{vm.error}}
    </div>
    <table class="listing" ng-if="!vm.error && vm.adSets.length > 0">
        <thead>
            <tr>
                <th>name</th>
                <th>id</th>
                <th>adlabels</th>
                <th>adset_schedule</th>
                <th>account_id</th>
                <th>bid_amount</th>
                <th>bid_info</th>
                <th>billing_event</th>
                <th>campaign</th>
                <th>campaign_id</th>
                <th>configured_status</th>
                <th>created_time</th>
                <th>creative_sequence</th>
                <th>effective_status</th>
                <th>end_time</th>
                <th>frequency_cap</th>
                <th>frequency_cap_reset_period</th>
                <th>is_autobid</th>
                <th>lifetime_frequency_cap</th>
                <th>lifetime_imps</th>
                <th>optimization_goal</th>
                <th>product_ad_behavior</th>
                <th>promoted_object</th>
                <th>rf_prediction_id</th>
                <th>rtb_flag</th>
                <th>start_time</th>
                <th>targeting</th>
                <th>updated_time</th>
                <th>use_new_app_click</th>
                <th>pacing_type</th>
                <th>budget_remaining</th>
                <th>daily_budget</th>
                <th>lifetime_budget</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>

                </td>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="a in vm.adSets">
                <td>{{a.name}}</td>
                <td>{{a.id}}</td>
                <td>{{a.adlabels}}</td>
                <td>{{a.adset_schedule}}</td>
                <td>{{a.account_id}}</td>
                <td>{{a.bid_amount}}</td>
                <td>{{a.bid_info}}</td>
                <td>{{a.billing_event}}</td>
                <td>{{a.campaign}}</td>
                <td>{{a.campaign_id}}</td>
                <td>{{a.configured_status}}</td>
                <td>{{a.created_time | date:'short'}}</td>
                <td>{{a.creative_sequence}}</td>
                <td>{{a.effective_status}}</td>
                <td>{{a.end_time | date:'short'}}</td>
                <td>{{a.frequency_cap}}</td>
                <td>{{a.frequency_cap_reset_period}}</td>
                <td>{{a.is_autobid}}</td>
                <td>{{a.lifetime_frequency_cap}}</td>
                <td>{{a.lifetime_imps}}</td>
                <td>{{a.optimization_goal}}</td>
                <td>{{a.product_ad_behavior}}</td>
                <td>{{a.promoted_object}}</td>
                <td>{{a.rf_prediction_id}}</td>
                <td>{{a.rtb_flag}}</td>
                <td>{{a.start_time | date:'short'}}</td>
                <td>{{a.targeting}}</td>
                <td>{{a.updated_time | date:'short'}}</td>
                <td>{{a.use_new_app_click}}</td>
                <td>{{a.pacing_type}}</td>
                <td>{{a.budget_remaining}}</td>
                <td>{{a.daily_budget}}</td>
                <td>{{a.lifetime_budget}}</td>
            </tr>
        </tbody>
    </table>
</div>