<div class="module">
    <h1>Ads <span ng-if="vm.ads.length > 0">{{vm.ads.length}} total</span></h1>
    <hr />
    <div ng-if="vm.error">
        {{vm.error}}
    </div>
    <table class="listing" ng-if="!vm.error && vm.ads.length > 0">
        <thead>
            <tr>
                <th>name</th>
                <th>id</th>
                <th>account_id</th>
                <th>adset</th>
                <th>campaign</th>
                <th>adlabels</th>
                <th>adset_id</th>
                <th>bid_amount</th>
                <th>bid_info</th>
                <th>bid_type</th>
                <th>configured_status</th>
                <th>conversion_specs</th>
                <th>created_time</th>
                <th>creative</th>
                <th>effective_status</th>
                <th>last_updated_by_app_id</th>
                <th>tracking_specs</th>
                <th>updated_time</th>
                <th>campaign_id</th>
                <th>ad_review_feedback</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>

                </td>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="a in vm.ads">
                <td>{{a.name}}</td>
                <td>{{a.id}}</td>
                <td>{{a.account_id}}</td>
                <td>{{a.adset}}</td>
                <td>{{a.campaign}}</td>
                <td>{{a.adlabels}}</td>
                <td>{{a.adset_id}}</td>
                <td>{{a.bid_amount}}</td>
                <td>{{a.bid_info}}</td>
                <td>{{a.bid_type}}</td>
                <td>{{a.configured_status}}</td>
                <td>{{a.conversion_specs}}</td>
                <td>{{a.created_time | date:'short'}}</td>
                <td>{{a.creative}}</td>
                <td>{{a.effective_status}}</td>
                <td>{{a.last_updated_by_app_id}}</td>
                <td>{{a.tracking_specs}}</td>
                <td>{{a.updated_time | date:'short'}}</td>
                <td>{{a.campaign_id}}</td>
                <td>{{a.ad_review_feedback}}</td>
            </tr>
        </tbody>
    </table>
</div>