<div class="module">
    <h1>Ads <span ng-if="vm.ads.length > 0">{{vm.ads.length}} total</span></h1>
    <hr />
    <div ng-if="vm.error">
        {{vm.error}}
    </div>
    <table class="listing" ng-if="!vm.error && vm.ads.length > 0">
        <thead>
            <tr>
                <th>{{vm.dictionary.terms['name']}}</th>
                <th>{{vm.dictionary.terms['id']}}</th>
                <th>{{vm.dictionary.terms['account_id']}}</th>
                <th>{{vm.dictionary.terms['adset']}}</th>
                <th>{{vm.dictionary.terms['campaign']}}</th>
                <th>{{vm.dictionary.terms['adlabels']}}</th>
                <th>{{vm.dictionary.terms['adset_id']}}</th>
                <th>{{vm.dictionary.terms['bid_amount']}}</th>
                <th>{{vm.dictionary.terms['bid_info']}}</th>
                <th>{{vm.dictionary.terms['bid_type']}}</th>
                <th>{{vm.dictionary.terms['configured_status']}}</th>
                <th>{{vm.dictionary.terms['conversion_specs']}}</th>
                <th>{{vm.dictionary.terms['created_time']}}</th>
                <th>{{vm.dictionary.terms['creative']}}</th>
                <th>{{vm.dictionary.terms['effective_status']}}</th>
                <th>{{vm.dictionary.terms['last_updated_by_app_id']}}</th>
                <th>{{vm.dictionary.terms['tracking_specs']}}</th>
                <th>{{vm.dictionary.terms['updated_time']}}</th>
                <th>{{vm.dictionary.terms['campaign_id']}}</th>
                <th>{{vm.dictionary.terms['ad_review_feedback']}}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="20"></td>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="a in vm.ads">
                <td>{{a.name}}</td>
                <td>{{a.id}}</td>
                <td>{{a.account_id}}</td>
                <td>{{a.adset}}</td>
                <td>{{a.campaign}}</td>
                <td>{{a.adlabels}}</td>
                <td>{{a.adset_id}}</td>
                <td>{{a.bid_amount}}</td>
                <td>{{a.bid_info}}</td>
                <td>{{a.bid_type}}</td>
                <td>{{a.configured_status}}</td>
                <td>{{a.conversion_specs}}</td>
                <td>{{a.created_time | date:'short'}}</td>
                <td>{{a.creative}}</td>
                <td>{{a.effective_status}}</td>
                <td>{{a.last_updated_by_app_id}}</td>
                <td>{{a.tracking_specs}}</td>
                <td>{{a.updated_time | date:'short'}}</td>
                <td>{{a.campaign_id}}</td>
                <td>{{a.ad_review_feedback}}</td>
            </tr>
        </tbody>
    </table>
</div>