<div class="module campaign-create">
    <h1>Create campaign</h1>
    <p>Description of campaign creation here.</p>
    <div debug="vm.campaign"></div>
</div>

<div class="module campaign-create margin">
    <h2>Select objective</h2>
    <div class="objectives">
        <ul class="list">
            <li ng-repeat="o in vm.objectives" ng-click="vm.campaign.objective = o.id" ng-if="o.enabled" ng-class="{'active': vm.campaign.objective === o.id}"><i class="fa" ng-class="o.icon"></i> {{o.name}}</li>
        </ul>
        <div class="objective-box" ng-repeat="o in vm.objectives" ng-show="vm.campaign.objective === o.id">
            <i class="fa" ng-class="o.icon"></i>
            <h3>{{o.name}}</h3>
            <p>{{o.shortDesc}}</p>
            <div class="row">
                <label>Campaign name:</label>
                <input type="text" ng-model="vm.campaign.name" />
            </div>

            <div ng-if="o.id === 'POST_ENGAGEMENT'">
                <div class="row">
                    <label>Page:</label>
                    <div combo-box="vm.pages" bind="vm.campaign.promoted_object.page_id" placeholder="Select a page..." type="connectionobjects"></div>
                </div>
                <div class="row">
                    <label>Post:</label>
                    <div combo-box="vm.posts" bind="vm.campaign.object_story_id" placeholder="Select a post..." type="connectionobjects"></div>
                </div>
            </div>
            <div ng-if="o.id === 'PAGE_LIKES'">
                <div class="row">
                    <label>Page:</label>
                    <div combo-box="vm.pages" bind="vm.campaign.promoted_object.page_id" placeholder="Select a page..." type="connectionobjects"></div>
                </div>
            </div>
            <div ng-if="o.id === 'LINK_CLICKS'">
                <div class="row">
                    <label>Page:</label>
                    <div combo-box="vm.pages" bind="vm.campaign.promoted_object.page_id" placeholder="Select a page..." type="connectionobjects"></div>
                </div>
                <div class="row">
                    <label>Pixel (optional):</label>
                    <div combo-box="vm.pixels" bind="vm.campaign.promoted_object.pixel_id" placeholder="Select a pixel..." type="pixels"></div>
                </div>
            </div>
            <div ng-if="o.id === 'CONVERSIONS'">
                <div class="row">
                    <label>Page:</label>
                    <div combo-box="vm.pages" bind="vm.campaign.promoted_object.page_id" placeholder="Select a page..." type="connectionobjects"></div>
                </div>
                <div class="row">
                    <label>Pixel</label>
                    <div combo-box="vm.pixels" bind="vm.campaign.promoted_object.pixel_id" placeholder="Select a pixel..." type="pixels"></div>
                </div>
            </div>
            <div ng-if="o.id === 'MOBILE_APP_INSTALLS'">
                <div class="row">
                    <label>Application:</label>
                    <div combo-box="vm.applications" bind="vm.campaign.promoted_object.page_id" placeholder="Select an application..." type="connectionobjects"></div>
                </div>
            </div>
            <div ng-if="o.id === 'MOBILE_APP_ENGAGEMENT'">
                <div class="row">
                    <label>Application:</label>
                    <div combo-box="vm.applications" bind="vm.campaign.promoted_object.page_id" placeholder="Select an application..." type="connectionobjects"></div>
                </div>
            </div>
            <div ng-if="o.id === 'LOCAL_AWARENESS'">
                <div class="row">
                    <label>Page:</label>
                    <div combo-box="vm.pages" bind="vm.campaign.promoted_object.page_id" placeholder="Select a page..." type="connectionobjects"></div>
                </div>
            </div>
            <div ng-if="o.id === 'EVENT_RESPONSES'">
                <div class="row">
                    <label>Event:</label>
                    <div combo-box="vm.events" bind="vm.campaign.promoted_object.page_id" placeholder="Select an event..." type="connectionobjects"></div>
                </div>
            </div>
            <div ng-if="o.id === 'OFFER_CLAIMS'">
                <div class="row">
                    <label>Page:</label>
                    <div combo-box="vm.pages" bind="vm.campaign.promoted_object.offer_id" placeholder="Select a page..." type="connectionobjects"></div>
                </div>
            </div>
            <div ng-if="o.id === 'VIDEO_VIEWS'">
                <div class="row">
                    <label>Page:</label>
                    <div combo-box="vm.pages" bind="vm.campaign.promoted_object.page_id" placeholder="Select a page..." type="connectionobjects"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="module campaign-create margin" ng-if="vm.showDetails()">
    <h2>Select campaign details</h2>
    <div class="stats-box">
        Campaign stats
    </div>
</div>

<div class="module campaign-create margin" ng-if="vm.showDetails()">
    <h2>Select audience</h2>
    <div class="stats-box">
        Audience Definition
    </div>
</div>

<div class="module campaign-create margin" ng-if="vm.showDetails()">
    <h2>Select budget &amp; pricing</h2>
    <div class="stats-box">
        Estimated Daily Reach
    </div>
</div>

<div class="module campaign-create margin" ng-if="vm.showDetails()">
    <h2>Select ad group</h2>
    <div class="stats-box">
        video/image guidelines
    </div>
</div>

<div class="module campaign-create margin" ng-if="vm.showDetails()">
    <div class="btn pull-right">Review campaign</div>
</div>