<div class="module campaign-create">
    <h1>Create campaign</h1>
    <p>Description of campaign creation here.</p>
    <div debug="vm.campaign"></div>
</div>

<div class="module campaign-create margin">
    <h2>Select objective</h2>
    <div class="objectives">
        <ul class="list">
            <li ng-repeat="o in vm.objectives" ng-click="vm.campaign.objective = o.id" ng-if="o.enabled" ng-class="{'active': vm.campaign.objective === o.id}"><i class="fa" ng-class="o.icon"></i> {{o.name}}</li>
        </ul>
        <div class="objective-box" ng-repeat="o in vm.objectives" ng-show="vm.campaign.objective === o.id">
            <i class="fa" ng-class="o.icon"></i>
            <h3>{{o.name}}</h3>
            <p>{{o.shortDesc}}</p>
            <div class="row">
                <label>Campaign name:</label>
                <input type="text" ng-model="vm.campaign.name" />
            </div>

            <div ng-if="o.id === 'POST_ENGAGEMENT'">
                <div class="row">
                    <label>Page:</label>
                    <div combo-box="vm.pages" bind="vm.campaign.promoted_object.page_id" placeholder="Select a page..." type="connectionobjects"></div>
                </div>
                <div class="row">
                    <label>Post:</label>
                    <div combo-box="vm.posts" bind="vm.campaign.object_story_id" placeholder="Select a post..." type="connectionobjects"></div>
                </div>
            </div>
            <div ng-if="o.id === 'PAGE_LIKES'">
                <div class="row">
                    <label>Page:</label>
                    <div combo-box="vm.pages" bind="vm.campaign.promoted_object.page_id" placeholder="Select a page..." type="connectionobjects"></div>
                </div>
            </div>
            <div ng-if="o.id === 'LINK_CLICKS'">
                <div class="row">
                    <label>Page:</label>
                    <div combo-box="vm.pages" bind="vm.campaign.promoted_object.page_id" placeholder="Select a page..." type="connectionobjects"></div>
                </div>
                <div class="row">
                    <label>Pixel (optional):</label>
                    <div combo-box="vm.pixels" bind="vm.campaign.promoted_object.pixel_id" placeholder="Select a pixel..." type="pixels"></div>
                </div>
            </div>
            <div ng-if="o.id === 'CONVERSIONS'">
                <div class="row">
                    <label>Page:</label>
                    <div combo-box="vm.pages" bind="vm.campaign.promoted_object.page_id" placeholder="Select a page..." type="connectionobjects"></div>
                </div>
                <div class="row">
                    <label>Pixel</label>
                    <div combo-box="vm.pixels" bind="vm.campaign.promoted_object.pixel_id" placeholder="Select a pixel..." type="pixels"></div>
                </div>
            </div>
            <div ng-if="o.id === 'MOBILE_APP_INSTALLS'">
                <div class="row">
                    <label>Application:</label>
                    <div combo-box="vm.applications" bind="vm.campaign.promoted_object.page_id" placeholder="Select an application..." type="connectionobjects"></div>
                </div>
            </div>
            <div ng-if="o.id === 'MOBILE_APP_ENGAGEMENT'">
                <div class="row">
                    <label>Application:</label>
                    <div combo-box="vm.applications" bind="vm.campaign.promoted_object.page_id" placeholder="Select an application..." type="connectionobjects"></div>
                </div>
            </div>
            <div ng-if="o.id === 'LOCAL_AWARENESS'">
                <div class="row">
                    <label>Page:</label>
                    <div combo-box="vm.pages" bind="vm.campaign.promoted_object.page_id" placeholder="Select a page..." type="connectionobjects"></div>
                </div>
            </div>
            <div ng-if="o.id === 'EVENT_RESPONSES'">
                <div class="row">
                    <label>Event:</label>
                    <div combo-box="vm.events" bind="vm.campaign.promoted_object.page_id" placeholder="Select an event..." type="connectionobjects"></div>
                </div>
            </div>
            <div ng-if="o.id === 'OFFER_CLAIMS'">
                <div class="row">
                    <label>Page:</label>
                    <div combo-box="vm.pages" bind="vm.campaign.promoted_object.offer_id" placeholder="Select a page..." type="connectionobjects"></div>
                </div>
            </div>
            <div ng-if="o.id === 'VIDEO_VIEWS'">
                <div class="row">
                    <label>Page:</label>
                    <div combo-box="vm.pages" bind="vm.campaign.promoted_object.page_id" placeholder="Select a page..." type="connectionobjects"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="module campaign-create margin" ng-if="vm.showDetails()">
    <h2>Audiences</h2>
    <p>A new ad set will be created for each campaign audience.</p>
    <div class="row" style="padding:0 0 15px 0;">
        <div class="col half">
            <label>Add audiences</label>
            <div combo-box="vm.audiences" bind="vm.selectedAudience" placeholder="Select an audience..."></div>
        </div>
    </div>
    <div class="row" ng-if="vm.campaign.audiences.length > 0">
        <table class="listing highlight">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td></td>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="a in vm.campaign.audiences track by $index">
                    <td>{{a.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" style="padding:15px 0;">
        <div class="checkbox" ng-click="vm.ui.createAudience = !vm.ui.createAudience"><i class="fa" ng-class="{'fa-square': !vm.ui.createAudience, 'fa-check-square': vm.ui.createAudience}"></i> Create new audience</div>
    </div>
    <div ng-if="vm.ui.createAudience" class="create-audience">
        <div class="row">
            <div class="col half">
                <label>Audence name</label>
                <input type="text" ng-model="vm.audience.name" />
            </div>
        </div>
        <div class="col-left">
            <div audience="vm.audience" on-save="vm.saveAudience"></div>
        </div>
        <div class="col-right">
            <span ng-if="vm.reachError">{{vm.reachError}}</span>
            <span ng-if="vm.reachEstimate">Potential reach: {{vm.reachEstimate | number}} users</span>
        </div>
    </div>
</div>

<div class="module campaign-create margin" ng-if="vm.showDetails()">
    <h2>Budget &amp; pricing</h2>
    <p>How much do you want to spend? Your budget will be divided between all selected audiences.</p>
    <div class="col-left">
        <div budget-schedule="vm.campaign.budget" objective="{{vm.campaign.objective}}"></div>
    </div>
    <div class="col-right">
        <span ng-if="vm.dailyReachError">{{vm.dailyReachError}}</span>
        <span ng-if="vm.dailyReachEstimate">Potential reach: {{vm.dailyReachEstimate | number}} users</span>
        Estimated Daily Reach<br />
        <br />
        13,000 - 35,000 people on Facebook<br />
        <small>of 130,000,000</small><br />
        This is only an estimate. Numbers shown are based on the average performance of ads targeted to your selected audience.
    </div>
</div>

<div class="module campaign-create margin" ng-if="vm.showDetails()">
    <h2>Ad groups</h2>
    <p>Ads will be created for each added ad group, within each ad set, up to a maximum of 50.</p>
    <div class="add-box">
        <label>Select an ad group</label>
        <div combo-box="vm.adGroups" bind="vm.selectedAdGroup" placeholder="Select an ad group..."></div>
    </div>
</div>

<div class="module campaign-create margin" ng-if="vm.showDetails()">
    <div class="btn pull-right">Review campaign</div>
</div>